@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/NotoSans-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/NotoSans-Bold.woff2") format("woff2")
}

@font-face {
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Sarala-Bold.woff2") format("woff2")
}