@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Manrope-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Nolan';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../fonts/Nolan-Heavy.woff2") format("woff2")
}